/* .App {
  text-align: center;
} */

@font-face {
  font-family: Helvetica Neue;
  src: url(../src/fonts/HelveticaNeue\ \(1\).ttc) format("truetype");
}

.homepage{
  width: 1920px;
  height: 1080px;
  background: url(../src/imgs/shutterstock_2189773743\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.logo1{
  position: absolute;
  top: 25px;
  left: 70px;
  width: 236px;
  height: 38px;
  background: url(../src/imgs/LOGO-02\ 3.png);
}

.linecomp{
  width: 1780px;
  height: 1px;
  background-color:#1A1A1A;
  position: absolute;
  top: 89px;
  left: 70px;
}

.buttoncomp{
  height:fit-content;
  position: absolute;
  top: 513px;
  left: 728px;
display: inline-block;

  width: 464px;
  background-color: black;
  /* padding: 18px ; */
  align-content: center;
  border-radius: 8px;
  
}

.buttoncomptext{
 margin: 18px 126px;
  display: inline;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: white;
  background-color:black;
  font-family:Helvetica Neue; 
  align-content: center;

}
.secLogo{
  position: absolute;
  top: 473px;
  left: 1076px;
  width: 299px;
  height: 299px;
  background: url(../src/imgs/LOGO-40\ 1.png);
  mix-blend-mode: multiply;
}




